<div class="col-md-4 offset-4 mt-6 card" style="background:darkgrey">
    <div class="card-body">
    <form #createBus="ngForm" (ngSubmit)="addBus(createBus)">
        <h1 class="h1 text-center">Add Bus </h1>
        <div class="form-group">
            <label for="busId" class="text-success">busId</label>
            <input type="number" #busId="ngModel" ngModel name="busId" id="busId" class="form-control" required
                placeholder="Enter Bus id">
            <div *ngIf="busId.touched && busId.invalid">
                <p class="alert alert-danger"> *This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="busName" class="text-success">Name</label>
            <input type="text" #busName="ngModel" ngModel name="busName" id="destination" class="form-control" required
                placeholder="Enter Bus Name">
            <div *ngIf="busName.touched && busName.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="startingPoint" class="text-success">source
                </label>
            <input type="text" #startingPoint="ngModel" ngModel name="startingPoint" id="startingPoint"
                class="form-control" required placeholder="Enter Starting point">
            <div *ngIf="startingPoint.touched && startingPoint.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="endingPoint" class="text-success">DESTINATION
                </label>
            <input type="text" #endingPoint="ngModel" ngModel name="endingPoint" id="endingPoint" class="form-control"
                required placeholder="Enter ending point">
            <div *ngIf="endingPoint.touched && endingPoint.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="totalSeats" class="text-success">Totalseats
                </label>
            <input type="number" #totalSeats="ngModel" ngModel name="totalSeats" id="totalSeats" class="form-control"
                required placeholder="Enter Total Seats">
            <div *ngIf="totalSeats.touched && totalSeats.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="cost" class="text-success">PRICE</label>
            <input type="number" #cost="ngModel" ngModel name="cost" id="cost" class="form-control" required
                placeholder="Enter Ticket Price">
            <div *ngIf="cost.touched && cost.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="busType" class="text-success">busType</label>
            <input type="text" #busType="ngModel" ngModel name="busType" id="busType" class="form-control" required
                placeholder="Enter Bus Type">
            <div *ngIf="busType.touched && busType.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>



        <button type="submit" class="btn btn-primary float-right" [disabled]="createBus.invalid">Add Bus </button>


    </form>
    </div>
</div>