<div class="table table-borderless table-dark">
        <br>
        <footer class="footer">
            <div class="container bottom_border">
                <div class="row">
    
                    <div class="col-md-3"  >
                        <h6 class="" style="color: chocolate">ABOUT BUS</h6>
                        <ul className="first">
                            <li><a>Contact Us</a></li>
                            <li><a>About Us</a></li>
                            <li><a>Track Bus</a></li>
                            <li><a>Cancel Bus</a></li>
                            <li><a>Site Map</a></li>
                        </ul>
                    </div>
    
    
                    <div class="col-md-3">
                        <h6 class=""style="color: chocolate">INFO</h6>
                        <ul class="second">
                            <li><a>Terms & conditions</a></li>
                            <li><a>Privacy Policy</a></li>
                            <li><a>FAQ</a></li>
                            <li><a>Blog</a></li>
                            <li><a>Agent Registration</a></li>
                            <li><a>Insurance Partner</a></li>
                        </ul>
                    </div>
    
    
                    <div class="col-md-3">
                        <h6 class=""style="color: chocolate">GLOBAL SITES</h6>
                        <ul class="third">
                            <li><a>India</a></li>
                            <li><a>Singapore</a></li>
                            <li><a>Malaysia</a></li>
                            <li><a>Peru</a></li>
                        </ul>
                    </div>
    
                    <div class="col-md-3">
                        <h6 class="headin5_amrc col_white_amrc pt2" style="color: chocolate">Bus LOGO</h6>
                        <p>This Bus is the world's largest online bus ticket booking service trusted by over 17 million happy customers globally.
                            Website,iOS and Android mobile apps for all major routes.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>