<div class="card">
        <div class="card-body">
            <h3 >WELCOME TO TRANSFERS</h3>  
        </div>
    </div>
    <!-- ************************************************************************************************************** -->
    <div class="row">
        <div class="col-6">
            <img src="https://cdn.pixabay.com/photo/2018/09/17/23/16/travel-3685042__340.png" alt="">
        </div>
    
        <div class="col-6">
            <img src="https://cdn.pixabay.com/photo/2016/10/06/13/04/reading-1718985__340.png" width="640px" alt=""
            style="border-radius: 100px">
        </div>
    </div>